<%-include('template/header.ejs')-%>
<%-include('template/navbar2.ejs')-%>
<p style=" font-size : 36pt; font-family : verdana,arial; text-decoration : underline; text-align : center; background-color : rgb(49, 58, 58); color: aliceblue;" >
    Compra realizada, Muchas gracias
</p>