<div class="contenedorGeneral">
    <div class="menuProducto4">
        <div>
        <h1 class="exeryTitulo">EXERY</h1>
        </div>
        <div class="menu"> 
        <a class="volver" href="index.html">Volver</a>
        <a class="inicio" href="#">Incio</a>
        <a class="contacto" href="#">Contacto</a>
        </div>
    </div>
    <div class="contenedorCard4">
        <div>
            <img class="img4" src="img/joshua-reddekopp-cNe8GsQR-OQ-unsplash (1).jpg" alt="">
        </div>
        <div class="contenidoCard4">
            <h1 class="nombreProducto4">Nombre Producto</h1>
            <p class="descripcion">Descripcion</p>
            <p class="lorem">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis vero nulla corrupti sunt ab tenetur, eaque porro impedit, rerum laboriosam dignissimos natus optio recusandae adipisci fugit consequatur reiciendis, amet doloremque!
            </p>
            <h3 class="precio">$ 22.03</h3>
            <div class="contenedorBtn">
                <button class="btnComprar">Comprar</button>
                <span id="count" class="cantidad" >0</span>
                <button id="increment-btn" class="increment-btn">+</button>
                <button id="decrement-btn" class="decrement-btn">-</button>
                <button id="reset-btn" class="btnResetear">Restear</button>
            </div>    
        </div>
    </div>
</div>
<script src="scriptProductos.js"></script>