<%-include('./template/header.ejs')-%>
<h1 class="text-center mt-5 mb-3">EXERY-Login</h1>
<div class="container w-25">
    <form action="/auth/register" method="post">
        <div class="form-group px-0 p-1">
            <input type="text" name="nombre" id="" class="form-control" placeholder="Nombre" required>
        </div>
        <div class="form-group px-0 p-1">
            <input type="text" name="apellido" id="" class="form-control" placeholder="Apellido" required>
        </div>
        <div class="form-group px-0 p-1">
            <input type="email" name="email" id="" class="form-control" placeholder="E-mail" required>
        </div>
        <div class="form-group px-0 p-1">
            <input type="password" name="password" id="" class="form-control" placeholder="password" required>
        </div>
        <div class="d-grid gap-1">
        <button type="submit" class="btn btn-dark btn-block p-1">Registrar</button>
    </form>
    <a href="/auth/login" class="btn btn-block btn-dark">Volver</a>
</div>
</div>
