<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/contacto.css">
    <title>Document</title>
</head>
<body>
<!--
        <div class="carrito">
            <div>
            <h1 class="exeryProductoTitulo">EXERY</h1>
            </div>
            <div class="menu"> 
            <a class="volver" href="/">Volver</a>
            <a class="inicio" href="/">Incio</a>
            <a class="contacto" href="/contacto">Contacto</a>
            </div>
        </div>   -->
        <section class="contenedor">
            <div class="contenedor-items">
                <div class="item">
                   <span class="titulo-item">producto 1</span> 
                   <img src="/public/img/adam-wilson-1QZYZib7eYs-unsplash.jpg" alt="" >
                   <span class="precio-item">$20.00</span>
                   <button class="boton-item">Agregar al Carrito</button>
                </div>
                <div class="item">
                    <span class="titulo-item">Producto 2</span> 
                    <img src="/public/img/andrew-neel-HqtYwlY9dxs-unsplash.jpg" alt="" class="img-item">
                    <span class="precio-item">$22.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">Producto 3</span> 
                    <img src="/public/img/bolso contenedor.jpg" alt="" class="img-item">
                    <span class="precio-item">$12.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">producto 4</span> 
                    <img src="/public/img/bolso1.jpg" alt="" class="img-item">
                    <span class="precio-item">$16.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">Producto 5</span> 
                    <img src="/public/img/bolso2.jpg" alt="" class="img-item">
                    <span class="precio-item">$18.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">Producto 6</span> 
                    <img src="/public/img/bolso3.jpg" alt="" class="img-item">
                    <span class="precio-item">$10.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">Producto 7</span> 
                    <img src="/public/img/bolso4.jpg" alt="" class="img-item">
                    <span class="precio-item">$10.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">producto 8</span> 
                    <img src="/public/img/bolso5.jpg" alt="" class="img-item">
                    <span class="precio-item">$10.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">Producto 9</span> 
                    <img src="/public/img/bolso6.jpg" alt="" class="img-item">
                    <span class="precio-item">$10.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">Producto 10</span> 
                    <img src="/public/img/fondoLogin.jpg" alt="" class="img-item">
                    <span class="precio-item">$10.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">Producto 11</span> 
                    <img src="/public/img/Foto1.jpg" alt="" class="img-item">
                    <span class="precio-item">$10.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">Producto 12</span> 
                    <img src="/public/img/Foto11.jpg" alt="" class="img-item">
                    <span class="precio-item">$10.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">Producto 13</span> 
                    <img src="/public/img/Foto2.jpg" alt="" class="img-item">
                    <span class="precio-item">$10.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">Producto 14</span> 
                    <img src="/public/img/Foto3.jpg" alt="" class="img-item">
                    <span class="precio-item">$10.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">Producto 15</span> 
                    <img src="/public/img/Foto4.jpg" alt="" class="img-item">
                    <span class="precio-item">$10.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">Producto 16</span> 
                    <img src="/public/img/Foto44.jpg" alt="" class="img-item">
                    <span class="precio-item">$10.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">Producto 17</span> 
                    <img src="/public/img/Foto5.jpg" alt="" class="img-item">
                    <span class="precio-item">$10.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">Producto 18</span> 
                    <img src="/public/img/Foto6.jpg" alt="" class="img-item">
                    <span class="precio-item">$10.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">Producto 19</span> 
                    <img src="/public/img/Foto7.jpg" alt="" class="img-item">
                    <span class="precio-item">$10.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">producto 20</span> 
                    <img src="/public/img/Foto77.jpg" alt="" class="img-item">
                    <span class="precio-item">$10.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">Producto 21</span> 
                    <img src="/public/img/img_pies_mochila.png" alt="" class="img-item">
                    <span class="precio-item">$10.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">Producto 22</span> 
                    <img src="/public/img/joshua-reddekopp-cNe8GsQR-OQ-unsplash (1).jpg" alt="" class="img-item">
                    <span class="precio-item">$10.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">Producto 23</span> 
                    <img src="/public/img/micah-tindell-POZAPiiPxGk-unsplash.jpg" alt="" class="img-item">
                    <span class="precio-item">$10.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">Producto 24</span> 
                    <img src="/public/img/micah-tindell-POZAPiiPxGk-unsplash.jpg" alt="" class="img-item">
                    <span class="precio-item">$10.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
                 <div class="item">
                    <span class="titulo-item">Producto 25</span> 
                    <img src="/public/img/joshua-reddekopp-cNe8GsQR-OQ-unsplash (1).jpg" alt="" class="img-item">
                    <span class="precio-item">$10.00</span>
                    <button class="boton-item">Agregar al Carrito</button>
                 </div>
            </div>   
        </section>
</body>
</html>