<%- include('template/head', {tituloWeb: 'Pagina de inicio'}) %>

<div class="contenedorGeneral">
    <div class="carrito">
        <div>
        <h1 class="exeryProductoTitulo">EXERY</h1>
        </div>
        <div class="menu"> 
        <a class="volver" href="/">Volver</a>
        <a class="inicio" href="/">Incio</a>
        <a class="contacto" href="/contacto">Contacto</a>
        </div>
    </div>
    <section class="contenedor">
        <div class="contenedor-items">
            <div class="item">
               <span class="titulo-item">Box Engasse</span> 
               <img src="/public/img/adam-wilson-1QZYZib7eYs-unsplash.jpg" alt="img-item">
               <span class="precio-item">$10.00</span>
               <button class="boton-item">Agregar al Carrito</button>
            </div>
        </div>

    </section>
