<section id="cardsJona" class="lastJona">
    <div class="textoJona">
        <span class="tituloJona">LAST ARRIVALS</span>
        <span class="descriptionJona">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique
            laboriosam molestias officiis repellat odit ea</span>
        <div class="botonProductoJona">
            <button class="allProductsJona">All products -></button>
        </div>
    </div>
    <div class="cardsJona">
        <div class="cardJona">
            <div class="imagenIconoJona">
                <i class="bi bi-suit-heart" id="corazon"></i>
                <img src="img/bolso2.jpg" alt="" class="imagenJona">
            </div>
            <span>Bolso<br>$123</span>
            <button class="btnAgregarJona"><i class="bi bi-plus-lg" id="agregarJona"></i></button>
        </div>
        <div class="cardJona">
            <div class="imagenIconoJona">
                <i class="bi bi-suit-heart" id="corazon"></i>
                <img src="img/bolso3.jpg" alt="" class="imagenJona">
            </div>
            <span>Bolso<br>$123</span>
            <button class="btnAgregarJona"><i class="bi bi-plus-lg" id="agregarJona"></i></button>
        </div>
        <div class="cardJona">
            <div class="imagenIconoJona">
                <i class="bi bi-suit-heart" id="corazon"></i>
                <img src="img/bolso5.jpg" alt="" class="imagenJona">
            </div>
            <span>Bolso<br>$123</span>
            <button class="btnAgregarJona"><i class="bi bi-plus-lg" id="agregarJona"></i></button>
        </div>
        <div class="cardJona">
            <div class="imagenIconoJona">
                <i class="bi bi-suit-heart" id="corazon"></i>
                <img src="img/bolso6.jpg" alt="" class="imagenJona">
            </div>
            <span class="precioJona">Bolso<br>$123</span>
            <button class="btnAgregarJona"><i class="bi bi-plus-lg" id="agregarJona"></i></button>
        </div>
    </div>
</section>
<section class="sectionFirmaJona">
    <div class="containerFirmaJona">
        <div class="contenidoJona">
            <h1 class="texto1Jona">FASHION IS WHAT DESIGNER OFFER YOU <br> FOUR TIMES A YEAR. AND THE STYLE IS
                WHAT<br>
                YOU CHOOSE</h1>
            <span class="firmaJona">Lauren Hutton</span>
        </div>
    </div>
</section>
